<p>
    <mat-toolbar color = "accent">
        <span>Restaurant Feedback Form</span>
    </mat-toolbar>
</p>
    <div class = "forHeading">
    <h2>We Appreciate your feedback!</h2>
    </div> 
    <div class = "forForm">      
    <form action="" class = "example-form" (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
        <mat-form-field class = "example-full-width">
            <input type="text" #firstName = "ngModel" name="firstName" [(ngModel)]="feedback.firstName" matInput placeholder="First Name" minlength="3" required>
            <div *ngIf = "firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                <div *ngIf = "firstName.errors?.['required']">
                   First Name is Required
                </div>
               <div *ngIf = "firstName.errors?.['minlength']">
                First Name Minimum Length is 3
               </div>
            </div>
        </mat-form-field>
        <mat-form-field class = "example-full-width">
            <input  type="text" #lastName = "ngModel" name="lastName" [(ngModel)]="feedback.lastName" matInput placeholder="Last Name" minlength="3" required>
             <div *ngIf = "lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                <div *ngIf = "lastName.errors?.['required']">
                    Last Name is Required
                </div>
                <div *ngIf = "lastName.errors?.['minlength']">
                    Last Name Minimum Length is 3
                </div>
             </div>
        </mat-form-field>
        <mat-form-field class = "example-full-width">
            <input type="number" #contactNumber = "ngModel" name="contactNumber" [(ngModel)]="feedback.phone" matInput placeholder="Phone Number" required pattern="^[789]\d{9}$">
            <div *ngIf = "contactNumber?.invalid && (contactNumber?.dirty || contactNumber?.touched)">
             <div *ngIf = "contactNumber.errors?.['required']">
                Phone Number is Required
             </div>
             <div *ngIf = "contactNumber.errors?.['pattern']">
                Enter Valid Phone Number Containing 10 digits Starting 7/8/9
             </div>
            </div>
        </mat-form-field>
        <mat-form-field class = "example-full-width">
            <input pattern = "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" type="email" #userEmail = "ngModel" name="userEmail" [(ngModel)]="feedback.email" matInput placeholder="Email Id" required>
            <div *ngIf = "userEmail?.invalid && (userEmail?.dirty || userEmail?.touched)">
                <div *ngIf = "userEmail.errors?.['required']">
                    Email id Is Required
                </div>
                <div *ngIf = "userEmail.errors?.['pattern']">
                    Enter Valid Email Id
                </div>
            </div>
        </mat-form-field>
           <mat-form-field appearance="fill" class = "example-full-width">
            <mat-label>Location you visited</mat-label>
            <mat-select name="locations" #loaction = "ngModel" [(ngModel)]="feedback.location" required>
            <mat-option *ngFor = "let locations of location" [value] = "locations">{{locations}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class = "example-full-width" id = "forCheckBox">
        <mat-radio-group name = "rating" [(ngModel)] = "feedback.rating" required>
            <span>Overall Rating</span>
            <mat-radio-button class = "radio" value="excellent">Excellent</mat-radio-button>
            <mat-radio-button class = "radio" value="good">Good</mat-radio-button>
            <mat-radio-button class = "radio" value="average">Average</mat-radio-button>
            <mat-radio-button class = "radio" value="dissatified">Dissatified</mat-radio-button>
          </mat-radio-group>
          </div>
        <mat-form-field class = "example-full-width">
            <textarea name="comments" #comments = "ngModel" [(ngModel)]="feedback.comments" matInput name="" id="" cols="30" rows="10" placeholder="Any comments, questions or suggestions?"></textarea>
        </mat-form-field>
        <div>
            <button  class = "forBtn" mat-raised-button color = "accent" type = "reset">Reset</button>
            <button  class = "forBtn"mat-raised-button color = "accent" type = "submit" [disabled] = "!feedbackForm.valid">Submit</button>
        </div>
    </form>
</div>
